<div class="header">
    <h1>Contact me.</h1>
</div>
<div class="col-md-4"></div>
    <div class="col-md-4 container">
        <div class="row">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
        </div>
        <div class="message">
            <textarea rows="8" cols="60" placeholder="What's up?"></textarea>
            </div>
            <div>
                <button class="submit">Submit</button>
        </div>
    </div>
<div class="col-md-4"></div>
<hr>
