h1{
	color:@navy;
	font-family:'Yanone-Bold';
	font-size:2em;
	text-transform: uppercase;
	text-align: center;
}
.blog{
	font-family:'Woodford';
	padding-left:1.5em;
	padding-right:1.5em;
}
.flex-container{
	display:flex;
	justify-content: center;
	flex-direction: column;
	padding-top:.5em;
}
.entry{
	background-color:@red;
}
.content{
	background-color:@khaki;
}