<h1>Here are some thoughts.</h1>
<div class="blog">
	<div class="entry">
			<div class="content">
				<p>Nam efficitur leo at velit pretium, a cursus sem mattis. Nunc in metus mi. Pellentesque tincidunt blandit nunc, a cursus neque. Praesent nunc odio, condimentum vel massa eu, sodales viverra neque. Ut posuere eget tellus a posuere. Donec ullamcorper, orci ac tincidunt sodales, sem arcu rutrum mi, eu aliquet risus libero id dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed velit felis.
				</p>
				<p>Nam et neque non quam auctor ornare ac at nibh. Curabitur finibus velit eu velit pharetra rutrum. Fusce volutpat leo nec urna venenatis accumsan. Donec ex elit, bibendum nec commodo vel, elementum a magna. Phasellus eleifend diam placerat odio commodo, non malesuada magna efficitur. Suspendisse quis accumsan ipsum. Duis pellentesque molestie massa et sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce pellentesque molestie nunc eget consequat. In elit tortor, varius a efficitur sed, varius ut ligula. Vestibulum vel interdum augue, ac auctor arcu. Praesent dictum ligula nisl, in ultrices ex sagittis vel.</p>
			</div>
	</div>
	<div class="flex-container">
		<input type="text" name="Name" placeholder="Name">
		<textarea rows="4" cols="50" placeholder="Comment"></textarea>
	</div>
	<hr>
	<div class="content">
		<p>Praesent non dignissim leo. Cras fermentum ligula eget augue dictum placerat. Donec porta, urna eu aliquam pulvinar, felis neque cursus mi, ac finibus nisl nibh nec quam. Aenean placerat dictum iaculis. In interdum dapibus aliquet. Pellentesque consectetur dui sit amet mauris condimentum scelerisque. Maecenas non purus id arcu convallis iaculis sed id risus. Donec dui massa, iaculis ut nibh vel, maximus fermentum lorem. Cras elementum porta euismod. Suspendisse potenti. Pellentesque imperdiet, urna ut posuere lobortis, ligula odio dapibus tortor, a euismod leo urna eget sapien. Etiam massa lorem, scelerisque in varius a, sagittis nec nulla. Etiam viverra nulla in condimentum tincidunt.
		</p>
		<p>Pellentesque scelerisque arcu porttitor ultrices laoreet. Nam cursus quis mauris sit amet ultricies. Nulla vestibulum mauris ac consectetur pretium. Nunc in placerat eros. Phasellus ornare faucibus est a gravida. Pellentesque pulvinar ante eget bibendum mattis. Nullam nec velit et justo dignissim pretium. Suspendisse nec ipsum a nisl interdum aliquet id eget nibh. Vestibulum quis euismod arcu. Nunc porta lectus et lectus mollis scelerisque. Suspendisse potenti.
		</p>
	</div>
	<div class="flex-container">
		<input type="text" name="Name" placeholder="Name">
		<textarea rows="4" cols="50" placeholder="Comment"></textarea>
	</div>
	<hr>
	<div class="content">
		<p>Praesent non dignissim leo. Cras fermentum ligula eget augue dictum placerat. Donec porta, urna eu aliquam pulvinar, felis neque cursus mi, ac finibus nisl nibh nec quam. Aenean placerat dictum iaculis. In interdum dapibus aliquet. Pellentesque consectetur dui sit amet mauris condimentum scelerisque. Maecenas non purus id arcu convallis iaculis sed id risus. Donec dui massa, iaculis ut nibh vel, maximus fermentum lorem. Cras elementum porta euismod. Suspendisse potenti. Pellentesque imperdiet, urna ut posuere lobortis, ligula odio dapibus tortor, a euismod leo urna eget sapien. Etiam massa lorem, scelerisque in varius a, sagittis nec nulla. Etiam viverra nulla in condimentum tincidunt.
		</p>
		<p>Pellentesque scelerisque arcu porttitor ultrices laoreet. Nam cursus quis mauris sit amet ultricies. Nulla vestibulum mauris ac consectetur pretium. Nunc in placerat eros. Phasellus ornare faucibus est a gravida. Pellentesque pulvinar ante eget bibendum mattis. Nullam nec velit et justo dignissim pretium. Suspendisse nec ipsum a nisl interdum aliquet id eget nibh. Vestibulum quis euismod arcu. Nunc porta lectus et lectus mollis scelerisque. Suspendisse potenti.
		</p>
	</div>
	<div class="flex-container">
		<input type="text" name="Name" placeholder="Name">
		<textarea rows="4" cols="50" placeholder="Comments"></textarea>
	</div>
	<hr>
</div>