<div class="header">
    <h1>Here are some thoughts.</h1>
</div>
<hr>
<div class="blog">
	<div class="postcontainer">
        <div class="container">           
            <div class="title">
                <h3>First post!<br></h3>
                <h5>January 27th, 2016</h5>
            </div>
            <div class="content">
                    <p>    After a long needed break, I'm happy to say that I'm back into some cool projects.
                    The job search is still going great, but really what I've been wanting to do is 
                    get back into coding with learning Ruby and Node.js. I'll use this blog to keep everyone
                    updated on what I'm doing. I think this week I'll try to finish up my Amazon Echo skill
                    and start learning about this Raspberry Pi that I got for Christmas this year. David, Danny,
                    and I have been working on a Catan variant scenario which is really exciting.</p>
                    <p>    So, expect another post by the end of the week on those things. I've been thinking of making
                    videos about programming and home projects, but I only want to do that if there is enough
                    interest. If you have an idea for a project or if you want me to make you a
                    website, I'd love to help. Either contact me via email or post your ideas in the comments below.
                    <br>
                    Also, my good friend Walter notified me earlier today that the next ITAC Javascript meetup
                    is scheduled for February 11th.
                </p>
            </div>
            <div>
                <li class="comments" ng-repeat="comment in comments">
                    {{comment.name}} - {{comment.date}}
                    {{comment.content}}
                </li>
            </div>
            <div ng-controller="homeCtrl">
                <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Comment</button>
                <hr>
                <div class="commentsection" uib-collapse="isCollapsed">
                    <div class="postForm col-md-8 col-md-offset-2 well well-lg">
                        <div class="user">
                            Name: <input type= "text" ng-model="author">
                        </div>
                        <div class="form-group">
                            Comment: <textarea class="form-control status-box" rows="4" placeholder="What's on your mind?" ng-model="content"></textarea>
                        </div>
                        <button class="btn btn-primary" ng-click="post('/')">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--<div class="fixed">
    <div ng-controller="timeCtrl">
        <button ng-click="time = !time" ng-class="{ active: time }">What time is it?</button>
        <div ng-show="time">
            <div id="current-time">12:00:00 AM</div>
                <canvas id="clock" width="200" height="200">
                        If you can see this message, your browser does not support canvas 
                        and needs an update. Sorry. :(
                </canvas>
        </div>
    </div>
</div>-->