#current-time {
display: block;
font-weight: bold;
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 200px;
padding: 10px;
}
#clock {
padding: 10px;
border:3px solid #ac8f57;
background-color: #e0cda7;
border-radius: 50%;
}
img{
	height:70px;
}
.page{
	background-color:green;
}