<h6>About me.</h6>
<div class="container">
	<div class="col-md-4">
		<img class="profile" src="/assets/images/taylor.jpg" />
	</div>
	<div class="col-md-8">
		<p class="about">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis tellus ante, tristique sodales tortor placerat in. Morbi et lorem eros. Donec ut molestie elit, nec lobortis neque. Fusce cursus leo urna, non ultricies nunc placerat tristique. Cras venenatis justo erat, non ornare elit ullamcorper ut. Nam sit amet dui eu urna dapibus scelerisque at vitae diam. Mauris vel tincidunt orci, vel volutpat lacus.
		</p>
		<p class="about">
			Donec non velit et mauris imperdiet cursus. Phasellus ornare dui id ipsum lacinia mattis. Duis faucibus eros at ante pulvinar, at vehicula lorem dignissim. Curabitur quis vulputate sem, a finibus purus. Donec id est nunc. Duis luctus, dolor vel ultrices fermentum, erat magna dignissim urna, ut tristique sem nisl nec dolor. Nam auctor condimentum leo sed lacinia. Sed eget auctor leo, vel condimentum massa. Fusce felis est, ornare sit amet placerat ut, placerat sed arcu. Duis pretium magna non mi faucibus suscipit. Fusce lorem felis, gravida sed vestibulum id, dictum in nisl. Duis vitae lorem cursus, fermentum nunc at, ullamcorper diam. Pellentesque quis vestibulum tellus.
		</p>
	</div>
</div>