<div class="header">
    <h1>About me.</h1>
</div>
<div class="container">
	<div class="col-md-4 left">
		<img class="profile" src="/assets/images/taylor.jpg" />
	</div>
	<div class="col-md-6 container">
		<p class="about">
        My name is Taylor Widman and I'm a learning front-end developer looking for
        a full-time position in Birmingham where I've lived and grown up. I recently graduated
        from the University of Alabama with a degree in Public Relations and minor in Business with some 
        experience in the Sales and Marketing Program. I also recently graduated from the Depot/U program
        at the Innovation Depot where I learned the basics of HTML, CSS, Javascript, Angular and other frameworks.
        I'm always tinkering with gadgets and if you have a project that sounds fun, shoot me a message!
        </p>
        <br>
        <p class="about">
        I love to fish, have a girlfriend named Maggie, started brewing my own beer with varying degrees of success,
        play the piano, and have a ton of other hobbies. 
		</p>
	</div>
</div>