.left{
    display:flex;
    justify-content: center;
}
.about{
    text-indent: 2em;
}
.container .about{
    background-color:@light-khaki;
}
.profile{
    border-radius:50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    height:20em;
}