<h4>Projects!</h4>
    <div>
        <h2>Blender</h2>
        <div class="container-fluid">
            <div class="row">
                <img src="assets/images/cup.jpg" class="img-rounded">
                    <h2>My first 3D render!</h2>
                    <p>I really enjoyed crafting this cup, but I was ready for a bigger challenge.</p>
                <img src="assets/images/tiefighter.jpg" class="img-rounded">
                    <h2>My second project</h2>
                    <p>This model took over 16 hours and it was quite an experience.</p>
            </div>
            <div class="row">
                <img src="assets/images/tiefighterprogress.jpg" class="img-rounded">
                    <h2>Another one</h2>
                    <p>This is during the end of the modeling of the tie-fighter.</p>
                    <p></p>
                <img src="assets/images/depotucenter.png" class="img-rounded">
                    <h2>Depot/U</h2>
                    <p>I made this out of boredom during the months after Depot/U</p>
                    <p>No idea it will be used or not, but I learned alot about materials in this model.</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Illustrator</h2>
        <div class="container-fluid">
            <div class="row">
                <img src="assets/images/business cards.png">
                <img src="assets/images/gameofthrones.png">
            <div class="row">
                <img src="assets/images/carmichaels.jpg">
                <img src="assets/images/sasspresentation.png">
        </div>
    </div>
    <div>
        <h2>Websites</h2>
        <div>
            
        </div>
    </div>