<h1>Projects!</h1>
    <div>
        <h3>Blender</h3>
        <div class="imgcontainer">
                <a href="assets/images/cup.jpg" data-lightbox="Blender" data-title="I really enjoyed crafting this cup, but I was ready for a bigger challenge." class="img-rounded">
                    <img src="assets/images/cup.jpg" class="img-rounded"><h4>My first Render</h4>
                </a>
                <a href="assets/images/tiefighter.jpg" data-lightbox="Blender" data-title="This model took over 16 hours and it was quite an experience." class="img-rounded">
                    <img src="assets/images/tiefighter.jpg" class="img-rounded"><h4>Tie Fighter</h4>
                </a>
                <a href="assets/images/tiefighterprogress.jpg" data-lightbox="Blender" data-title="This is during the end of the modeling of the tie-fighter.">
                    <img src="assets/images/tiefighterprogress.jpg" class="img-rounded"><h4>Tie Fighter with Lighting and HDR</h4>
                </a>
                <a href="assets/images/depotucenter.png" data-lightbox="Blender" class="img-rounded" data-title="I made this out of boredom during the months after Depot/U and learned alot about materials in Blender.">
                    <img src="assets/images/depotucenter.png" class="img-rounded"><h4>Depot/U</h4>
                </a>
        </div>
    </div>
    <div>
        <h3>Illustrator</h3>
        <div class="imgcontainer">
                <a href="assets/images/business cards.png" data-lightbox="Illustrator" data-title="I think he really liked them">
                    <img src="assets/images/business cards.png" class="img-rounded"><h4>Made these for my step-dad</h4>
                </a>
                <a href="assets/images/gameofthrones.png" data-lightbox="Illustrator" data-title="This was for school project, but I really couldn't not choose Game of Thrones">
                    <img src="assets/images/gameofthrones.png" class="img-rounded"><h4>APR 332 project</h4>
                </a>
                <a href="assets/images/carmichaels.jpg" data-lightbox="Illustrator" data-title="I made this for my girlfriend's parents using Illustrator and a woodburning pen">
                    <img src="assets/images/carmichaels.jpg" class="img-rounded"><h4>Example of Typography</h4>
                </a>
                <a href="assets/images/sasspresentation.png" data-lightbox="Illustrator" data-title="This is a screenshot of the front-page of this plansbook from the last class I had at Alabama">
                    <img src="assets/images/sasspresentation.png" class="img-rounded"><h4>Final Project for PR Campaigns</h4>
                </a>
        </div>
    </div>
    <div>
        <h3>Websites</h3>
        <div>
            
        </div>
    </div>