@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Bold.otf');
}
@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-BoldItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Italic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Italic.otf');
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Light.otf');
}
@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-LightItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Regular.otf');
}
@font-face {
  font-family: 'Quicksand-Dash';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Dash.otf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Thin.ttf');
}
@font-face {
  font-family: 'Woodford-Italic';
  src: url('../assets/fonts/body/Woodford/woodfordbourne-italic.otf');
}
@font-face {
  font-family: 'Woodford';
  src: url('/assets/fonts/body/Woodford/woodfordbourne-regular.otf');
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/headers/Raleway/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('/assets/fonts/headers/Raleway/Raleway-Black.ttf');
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-BlackItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('/assets/fonts/headers/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-BoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('/assets/fonts/headers/Raleway/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('/assets/fonts/headers/Raleway/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('/assets/fonts/headers/Raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('/assets/fonts/headers/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-MediumItalic.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/assets/fonts/headers/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('../assets/fonts/headers/Raleway/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-ThinItalic.ttf');
}
@font-face {
  font-family: 'Yanone';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Regular.otf');
}
@font-face {
  font-family: 'Yanone-Bold';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Bold.otf');
}
@font-face {
  font-family: 'Yanone-ExtraLight';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-ExtraLight.otf');
}
@font-face {
  font-family: 'Yanone-Light';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Light.otf');
}
hr {
  width: 60%;
  justify-content: center;
}
.top-nav {
  display: flex;
  justify-content: center;
}
.nav {
  font-family: 'Woodford';
}
.bottom-nav {
  display: flex;
  justify-content: center;
}
a {
  color: #4d7358;
}
#current-time {
  display: block;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 200px;
  padding: 10px;
}
#clock {
  padding: 10px;
  border: 3px solid #ac8f57;
  background-color: #e0cda7;
  position: absolute;
  float: right;
}
.footer {
  bottom: 0;
  width: 100%;
}
.header {
  text-align: center;
}
h1 {
  color: #6b4423;
  font-family: 'Woodford';
  font-size: 2em;
  text-align: center;
}
h3 {
  color: #2a334f;
  font-family: 'Woodford';
  text-decoration: underline;
  text-align: center;
}
h4 {
  color: #2a334f;
  font-family: 'Quicksand-Regular';
  font-size: 1em;
}
h5 {
  font-family: 'Roboto-Light';
}
h3 {
  color: #2a334f;
  font-family: 'Raleway';
}
.submit {
  display: flex;
  justify-content: center;
}
.spacing {
  padding: 3em;
  display: inline-block;
}
.row {
  margin: auto;
  padding-bottom: 1em;
}
h1 {
  color: #6b4423;
  font-family: 'Woodford';
  font-size: 2em;
  text-align: center;
}
.left {
  display: flex;
  justify-content: center;
}
.about {
  text-indent: 2em;
}
.container .about {
  background-color: #f1eee3;
}
.profile {
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  height: 20em;
}
h4 {
  color: #4d7358;
  font-family: 'Quicksand-Regular';
}
.row img {
  display: flex;
  height: 15em;
}
.imgcontainer {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.img-rounded {
  width: 25em;
}
.fixed {
  position: fixed;
  justify-content: center;
  align-items: center;
}
.content {
  font-family: 'Woodford';
}
.postcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.entry {
  background-color: #bb1515;
}
.user {
  font-family: 'Woodford';
}
.form-group {
  font-family: 'Woodford';
}
.content {
  background-color: #f1eee3;
}
.content p {
  text-indent: 35px;
}
.comment {
  list-style-type: none;
  border-top: solid thick #4d7358;
}
/* when hiding the thing */
.ng-hide {
  -webkit-animation: 0.5s lightSpeedOut ease;
  animation: 0.5s lightSpeedOut ease;
}
