@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Bold.otf');
}
@font-face {
  font-family: 'Quicksand-BoldItalic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-BoldItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Italic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Italic.otf');
}
@font-face {
  font-family: 'Quicksand-Light';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Light.otf');
}
@font-face {
  font-family: 'Quicksand-LightItalic';
  src: url('../assets/fonts/body/Quicksand/Quicksand-LightItalic.otf');
}
@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Regular.otf');
}
@font-face {
  font-family: 'Quicksand-Dash';
  src: url('../assets/fonts/body/Quicksand/Quicksand-Dash.otf');
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Light.ttf');
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../assets/fonts/body/Roboto/RobotoSlab-Thin.ttf');
}
@font-face {
  font-family: 'Woodford-Italic';
  src: url('../assets/fonts/body/Woodford/woodfordbourne-italic.otf');
}
@font-face {
  font-family: 'Woodford';
  src: url('/assets/fonts/body/Woodford/woodfordbourne-regular.otf');
}
@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/headers/Raleway/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-Black';
  src: url('/assets/fonts/headers/Raleway/Raleway-Black.ttf');
}
@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-BlackItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('/assets/fonts/headers/Raleway/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-BoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-BoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url('/assets/fonts/headers/Raleway/Raleway-ExtraBold.ttf');
}
@font-face {
  font-family: 'Raleway-ExtraBoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('/assets/fonts/headers/Raleway/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('/assets/fonts/headers/Raleway/Raleway-Light.ttf');
}
@font-face {
  font-family: 'Raleway-Medium';
  src: url('/assets/fonts/headers/Raleway/Raleway-Medium.ttf');
}
@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-MediumItalic.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/assets/fonts/headers/Raleway/Raleway-SemiBold.ttf');
}
@font-face {
  font-family: 'Raleway-SemiBoldItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Raleway-Thin';
  src: url('../assets/fonts/headers/Raleway/Raleway-Thin.ttf');
}
@font-face {
  font-family: 'Raleway-ThinItalic';
  src: url('/assets/fonts/headers/Raleway/Raleway-ThinItalic.ttf');
}
@font-face {
  font-family: 'Yanone';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Regular.otf');
}
@font-face {
  font-family: 'Yanone-Bold';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Bold.otf');
}
@font-face {
  font-family: 'Yanone-ExtraLight';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-ExtraLight.otf');
}
@font-face {
  font-family: 'Yanone-Light';
  src: url('/assets/fonts/headers/Yanone/YanoneKaffeesatz-Light.otf');
}
hr {
  width: 60%;
  justify-content: center;
}
.top-nav {
  display: flex;
  justify-content: center;
}
.bottom-nav {
  display: flex;
  justify-content: center;
}
#current-time {
  display: block;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 200px;
  padding: 10px;
}
#clock {
  padding: 10px;
  border: 3px solid #ac8f57;
  background-color: #e0cda7;
  position: absolute;
  float: right;
}
.footer {
  bottom: 0;
  width: 100%;
}
h3 {
  color: #2a334f;
  font-family: 'Raleway';
}
h6 {
  color: #6b4423;
  font-family: 'Woodford-Italic';
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
img {
  width: 100%;
  float: center;
  border-radius: 50%;
}
h4 {
  color: #4d7358;
  font-family: 'Quicksand-Regular';
}
h1 {
  color: #2a334f;
  font-family: 'Yanone-Bold';
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.blog {
  font-family: 'Woodford';
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: .5em;
}
